  <h2 class="page-title w3-col">
    Search
  </h2>

<% menu_items.reverse.each do |item| %>
<div class="w3-mobile w3-row w3-panel">
  <form action="<%= rel_url("#{@params[:library]}/#{item}") %>", method="get" class="search">
      <input type="text" name="q" class="w3-col s11 m11 l11 search" placeholder="Search <%= item %>...">
      <button type="submit" class="search w3-col s1 m1 l1 icon" aria-label="search">
        <svg class="feather">
          <use href="/feather-sprite.svg#search">
        </svg>
      </button>
    </form>
    <%= @items %>
  <div class="w3-col m6 l6 w3-mobile">
  </div>
</div>
      <% end %>
