<a class="w3-bar-item w3-button w3-xlarge w3-right" onclick="sidebarShow('sidebar')">
   <svg class="feather" id="sidebar-open">
     <use href="/feather-sprite.svg#menu">
   </svg>
   <svg class="feather" id="sidebar-close">
     <use href="/feather-sprite.svg#x">
   </svg>
</a>
<a href="javascript:void(0)" class="w3-bar-item icon w3-button w3-right" onclick="hideShow('head-search')" aria-label="Search">
   <svg class="feather">
     <use href="/feather-sprite.svg#search">
   </svg>
 </a> 

 <form action="<%= url(lib.current.name) %>/books", method="get" id="head-search" class="w3-hide">
   <input type="text" name="q" class="w3-input">
 </form>
