    <% libraries.sort.each do |item| %>
      <a href="<%= rel_url("/#{item}") %>" class="w3-block w3-left-align w3-bar-item w3-button">
        <svg class="feather w3-cell-middle">
          <use href="/feather-sprite.svg#book">
        </svg>
        <span class="w3-cell-middle">
          <%= item %>
        </span>
      </a>
    <% end %>
