
<% if @items.nil? %>
<div class="w3-panel w3-mobile book">
  <h3>
    No Results!
  </h3>
</div>
<% else %>
<div class="w3-row w3-padding-32 w3-mobile taxonomy">
  <% @items.each do |item| %>
    <div class="w3-col m6 l6 w3-mobile">
      <a href="<%= rel_url("#{@params[:library].to_slug}/#{@params[:category]}/#{item[:id]}") %>" class="w3-mobile w3-large w3-btn w3-bar-item taxonomy-<%=@params[:category]%> w3-left-align">
        <%= item[:value] %> | <%= item[:book_total] %>
      </a>
    </div>
  <% end %>
</div>
  <% end %>
